* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
}
i {
  cursor: pointer;
}
/* Allow */
.allow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.allow button {
  border: 2px #ef6eae solid;
  background-color: transparent;
  padding: 10px 20px;
  color: #ef6eae;
  cursor: pointer;
  font-weight: bold;
}
.allow button:hover {
  border: 2px #ffa260 solid;
  color: #ffa260;  
}
/* windowLoader */
.windowLoad {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.windowLoad img {
  width: 200px;
}
#playPause {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3em;
  z-index: 999;
}
.container {
  width: 25%;
  height: 90vh;
}
.containerScroll {
  width: 100%;
  height: calc(100% - 60px);
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.containerScroll::-webkit-scrollbar {
  display: none;
}
.containerItem {
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  position: relative;
}
.video {
  height: 100%;
}
.video video,
.video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* interact */
.interact {
  color: rgb(235, 235, 235);
  position: absolute;
  right: 10px;
  top: 30%;
}
.interact .avatar {
  width: 40px;
  height: 40px;
  position: relative;
}
.interact .avatar .img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  overflow: hidden;
  margin: 0;
}
.interact .avatar .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.interact .avatar .check {
  position: absolute;
  background-color: #f52f56;
  border-radius: 100px;
  bottom: -8px;
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interact .interactItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.interact p {
  font-size: 0.7em;
}
.interact i {
  font-size: 2em;
}
/* info */
.info {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgb(238, 238, 238);
  font-size: 0.8em;
  padding: 10px;
  padding-bottom: 15px;
}
.info .title {
  margin: 10px 0px;
}
.info .music {
  display: flex;
  align-items: center;
}
.info .music i {
  font-size: 1em;
}
.info .music .nameMusic {
  flex: 1;
  margin: 0px 10px;
  overflow: hidden;
}
.info .music .musicAvatar {
  width: 40px;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .music .musicAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* navbar */
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #000;
}
.navbar div {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(235, 235, 235);
}
.navbar div i {
  font-size: 1.4em;
}
.navbar div p {
  font-size: 0.7em;
}
.navbar .camera i {
  background-color: red;
  border-radius: 100px;
  padding: 10px;
}
.navbar .active {
  font-weight: bold;
}
@media screen and (max-width: 767.98px) {
  .container {
    width: 100%;
    height: 100%;
  }
  #playPause {
    top: 45%;
  }
}
